h1 { color:bisque

}
img {
    width: 400px;
}
#thirdDiv {
    background-color: brown;
    height: 600px;
    width: 500px;
    padding: 50px;
    border: 30px solid chocolate ; 
} 
#spanId {
    font-size: 18px;
    margin: 50px;

}